%h3 User
%p
  User: #{@user.first_name} #{@user.last_name}
%p
  Email: #{@user.email if @user.email}
%h3 Connections
- @user.connectionships.each do |connectionship|
  = link_to "#{connectionship.connection.email}", user_path(connectionship.connection)
  %br
